<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <localRepository>/usr/src/app/.m2/repo</localRepository>
    <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>remote-repos</name>
          <url>https://artifactory.dbgcloud.io:443/artifactory/remote-repos</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>remote-repos</name>
          <url>https://artifactory.dbgcloud.io:443/artifactory/remote-repos</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>remote-repos</name>
          <url>https://artifactory.dbgcloud.io:443/artifactory/remote-repos</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>remote-repos</name>
          <url>https://artifactory.dbgcloud.io:443/artifactory/remote-repos</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
